.expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 10px;
    font-size: 20px;
    background-color: rgb(116, 108, 108);
}

.expense-item_description{
    display: flex;
    color: white;
}

.expense-item_description h2{
    font-size: 28px;
}

.expense-item_price{
    border: 2px solid white;
    /* padding: 22px 10px; */
    border-radius: 12px;
    background-color: purple;
    color: white;
    height: auto;
    width: auto;
    padding: 15px;
    text-align: center;
}